.bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default !important;
}

.hidden {
  overflow: hidden;
}

.image-cover {
  object-fit: cover;
}

.font-weight-normal {
  font-weight: normal !important;
}

.vh-100 {
  height: 100vh;
}

.line-height-0 {
  line-height: 0 !important;
}
